# Ignore Play! working directory #
bin/
/db
.eclipse
/.idea
/*.iml
/out
/lib/
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
.sbtserver
*.lock
/logs/
/modules
/project/target
/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache
