@(admin: models.daos.NsAdmin)(implicit messages: Messages)

@import b4.inline.fieldConstructor
@import org.joda.time.DateTime

@main(Messages("home.title"), Some(admin)) {
<div class="card card-primary text-center">
    <div class="card-heading">
        <h1>
            <span class="h1 label">Welcome to C360Sparkle!</span>
        </h1>
        <p>@DateTime.now.toString("HH:mm:ss - dd/MM/yyyy z")</p>
    </div>
    <div class="card-body">
        <p class="h4">
            <span class="label label-success">
                Server Running OK
                <span class="fa fa-thumbs-up"></span>
            </span>
        </p>
    </div>
</div>
}
