@(title: String, plugin_css: Html = Html(" "), plugin_js: Html = Html(" "), page_js: Html = Html(" "), body_styles: String = "", admin: Option[models.daos.NsAdmin] = None)(content: Html)(implicit messages: Messages)

@import common._

<!DOCTYPE html>

@site(Messages("home.title"), plugin_css, plugin_js, page_js, body_styles, admin = admin) {
@navbar(admin)
<!-- Page -->
@content
<!-- End Page -->
<!-- Footer -->
<footer class="site-footer">
    <div class="site-footer-legal">© 2017 <a href="http://www.context360.com">Context360 Inc</a></div>
    <div class="site-footer-right">
        Analytics with <i class="red-600 wb wb-heart"></i> by <a href="https://github.com/rtatavarty/sparkle">Sparkle</a>
    </div>
</footer>
}