@(signUpForm: Form[forms.SignUpForm.SignUpData])(implicit request: RequestHeader, messages: Messages)

@import b4.inline.fieldConstructor

@plugin_css = {
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/pages/login.min.css")">
}

@plugin_js = {
<script src="@routes.Assets.versioned("vendor/jquery-placeholder/jquery.placeholder.min.js")"></script>
}

@page_js = {
    <script src="@routes.Assets.versioned("js/Plugin/jquery-placeholder.min.js")"></script>
    <script nonce="763487yiyiy7">
        (function(document, window, $) {
            'use strict';
            var Site = window.Site;
            $(document).ready(function() {
                Site.run();
            });
        })(document, window, jQuery);
    </script>
}

@import java.lang.String; val body_styles="page-login layout-full page-dark"

@site(Messages("login.title"), plugin_css, plugin_js, page_js, body_styles) {
    <!-- Page -->
    <div class="page vertical-align text-xs-center" data-animsition-in="fade-in" data-animsition-out="fade-out">>
        <div class="page-content vertical-align-middle animation-slide-top animation-duration-1">
            <div class="brand">
                <img class="brand-img" src="/assets/images/sparkle_full.png" alt="...">
                <!--<h2 class="brand-text">Sparkle</h2>-->
            </div>
            <p>@Messages("sign.up.account")</p>
            @request.flash.get("error").map { msg =>
            <div class="alert alert-danger alert-error text-center">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <strong>@Messages("error")</strong> @msg
            </div>
            }
            @helper.form(action = routes.SignUpController.signUp()) {
            @helper.CSRF.formField
            <label class="sr-only">First Name</label>
            @b4.text(signUpForm("firstName"), '_hiddenLabel -> Messages("first.name"), 'placeholder -> Messages("first.name"), 'class -> "form-control")
            <label class="sr-only">Last Name</label>
            @b4.text(signUpForm("lastName"), '_hiddenLabel -> Messages("last.name"), 'placeholder -> Messages("last.name"), 'class -> "form-control")
            <label class="sr-only">Email</label>
            @b4.email(signUpForm("email"), '_hiddenLabel -> Messages("email"), 'placeholder -> Messages("email"), 'class -> "form-control")
            <label class="sr-only">Password</label>
            @b4.password(signUpForm("password"), '_hiddenLabel -> Messages("password"), 'placeholder -> Messages("password"), 'class -> "form-control")
            <div class="form-group">
                <div>
                    <button id="submit" type="submit" value="submit" class="btn btn-primary btn-block">@Messages("sign.up")</button>
                </div>
            </div>
            }
            <div class="sign-in-now">
                <p>@Messages("already.a.member") <a href="@routes.Application.login">@Messages("sign.in.now")</a></p>
            </div>
            <footer class="page-copyright page-copyright-inverse">
                <p>Sparkle by Context360 Inc.</p>
                <p>© 2016. All RIGHTS RESERVED.</p>
            </footer>
        </div>
    </div>
    <!-- End Page -->
}