@(signUpForm: Form[forms.SignUpForm.SignUpData])(implicit request: RequestHeader, messages: Messages)

@import b3.inline.fieldConstructor

@main(Messages("login.title")) {
@request.flash.get("error").map { msg =>
    <div class="col-md-4 col-md-offset-4 alert alert-danger alert-error text-center">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>@Messages("error")</strong> @msg
    </div>
    }

    <fieldset class="col-md-4 col-md-offset-4">
        <legend class="text-center">@Messages("sign.up.account")</legend>
        @helper.form(action = routes.SignUpController.signUp()) {
        @helper.CSRF.formField
        @b3.text(signUpForm("firstName"), '_hiddenLabel -> Messages("first.name"), 'placeholder -> Messages("first.name"), 'class -> "form-control input-lg")
        @b3.text(signUpForm("lastName"), '_hiddenLabel -> Messages("last.name"), 'placeholder -> Messages("last.name"), 'class -> "form-control input-lg")
        @b3.email(signUpForm("email"), '_hiddenLabel -> Messages("email"), 'placeholder -> Messages("email"), 'class -> "form-control input-lg")
        @b3.password(signUpForm("password"), '_hiddenLabel -> Messages("password"), 'placeholder -> Messages("password"), 'class -> "form-control input-lg")
        <div class="form-group">
            <div>
                <button id="submit" type="submit" value="submit" class="btn btn-lg btn-primary btn-block">@Messages("sign.up")</button>
            </div>
        </div>
        }

        <div class="sign-in-now">
            <p>@Messages("already.a.member") <a href="@routes.Application.login">@Messages("sign.in.now")</a></p>
        </div>
    </fieldset>
}